:root{
    --main-color: rgb(95, 144, 232);
    --border-color: rgb(108, 141, 202);
}

html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 90%;
}

.navbar-default {
    background-color: var(--main-color);
    border-color: var(--border-color);
    border-radius: 4px;
    height: 80px
}