<!DOCTYPE html>
<html>
    <head>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="form-group navbar-right">
                  <input id="search" type="text" class="form-control" style="width:230px" placeholder="Location &quot;New York, New York&quot;">
                  <button id="searchSubmit" type="submit" class="btn btn-default"> Search </button>
                </div>
              <div class="content">
                <div class="navbar-center">
                  <a class="brand" id="center" href="#"><img class="logo" src="static/images/pokeballLogo.PNG"></a>
                  <a class="brand"><img class="title" src="static/images/title.png"></a>
              	</div>
              </div>

           </div>
        </nav>
        <link rel="stylesheet" type="text/css" href="static/css/navigation.css" />
        <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    </head>
    <body>

    <div class="mapContainer">
        <div class="col-md-9" id="map" contenteditable="false"></div>
        <div class="col-md-3 sidebar">
            <table class="">
                <tbody>
                    <tr style="height: 20%">
                        <td>
                            <div class="playerCard">
                                <div class="imageContainer">
                                    <img class="playerImage" src="static/images/trainerM.png"
                                    contenteditable="false">
                                </div>
                                <div class="playerName" contenteditable="false"></div>
                                <div class="progress">
                                    <div class="progress-bar xpBar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                    aria-valuemax="100">
                                      <span class="exp"></span>
                                    </div>
                                </div>
                                <div class="itemContainer" style="">
                                    <div class="itemLabel">
                                        <div id="stardust">Stardust: 0</div>
                                        <img src="static/images/stardust.png">
                                    </div>
                                    <div class="itemLabel">
                                        <div id="pokecoin">Pokecoins: 0</div>
                                        <img src="static/images/pokecoins.png">
                                    </div>
                                    <div class="itemLabel">
                                        <div id="pokemon">Pokemon Storage: 0</div>
                                    </div>
                                    <div class="itemLabel">
                                        <div id="items">Items Storage: 0</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 40%">
                        <td>
                            <div class="notificationContainer"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class ="config">
                                <div class ="configOpt">
                                    <span class="text-center">Walkspeed (m/s)</span>
                                    <input class="form-control" type="number" min="1" step="3" max="300" name="walkspeed" value={{ config['walkspeed'] }}>
                                    <button class="btn btn-primary">Set</button>
                                </div>
                                <div class ="configOpt">
                                    <span class="text-center">Scan radius (m)</span>
                                    <input class="form-control" type="number" min="70" step="5" max="500" name="searchRadius" value={{ config['searchRadius'] }}>
                                    <button class="btn btn-primary">Set</button>
                                </div>
                                <div class ="configOpt">
                                    <span class="text-center">Request delay (sec)</span>
                                    <input class="form-control" type="number" min="0.3" step="0.1" max="2" name="requestDelay" value={{ config['requestDelay'] }}>
                                    <button class="btn btn-primary">Set</button>
                                </div>
                                <div class ="configOpt">
                                    <span class="text-center">Keep Pkmn CP</span>
                                    <input class="form-control" type="number" min="0" step="25" max="4000" name="discardCP" value={{ config['discardCP'] }}>
                                    <button class="btn btn-primary">Set</button>
                                </div>
                                <div class ="configOpt">
                                    <span class="text-center">Keep Pkmn IV</span>
                                    <input class="form-control" type="number" min="0" step="5" max="100" name="discardIV" value={{ config['discardIV'] }}>
                                    <button class="btn btn-primary">Set</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript" src="static/js/infobox.js"></script>
    <script type="text/javascript" src="static/js/map.js"></script>
    <script type="text/javascript" src="static/js/notifications.js"></script>
    <script type="text/javascript" src="static/js/playerInfo.js"></script>
    <script type="text/javascript" src="static/easing/jquery_easing.js"></script>
    <script src="static/easing/markerAnimate.js"></script>
    <script src="static/easing/SlidingMarker.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{geo_key}}&callback=initializeMap&libraries=geometry"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
